* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-optical-sizing: auto;

    /* Webkit scrollbar */
    &::-webkit-scrollbar {
        height: 0.1em;
        width: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 9999px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 9999px;
    }

    &.scrollbar-transparent::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}

body,
html,
#app {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    color: #515151;
}