*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-optical-sizing: auto;
}

body,html,#app{
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    color: #515151;
}
